@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="">
    <div class="">
        @Body
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        Data.DataBase dataBase = new Data.DataBase();

        if (!Data.DataBase.ChangeConnection())
        {
            NavigationManager.NavigateTo("/setting");
        }
    }
}