@page "/gameMove"
@using MauiApp3.Data.ChessClasses
@using MauiApp3.Data.Controler
@layout MainLayout
@inject NavigationManager NavigationManager


<section class="main-conteneer">
    <p class="top-row-text text">@(IsWhile ? "Белые" : "Чёрные")</p>
    <div>
        <select @bind="figure" placeholder="Фигура">
            @foreach (var item in chessGame.GetFigure(IsWhile))
            {
                <option value="@item">@item.Name@item.Pozition</option>
            }
        </select>
        <select @bind="move" placeholder="Ход">
            @for (int i = 0; i < 8; i++)
            {
                for (int j = 1; j <= 8; j++)
                {
                    <option value="coloms[i]+j">coloms[i]+j</option>
                }
            }
        </select>
    </div>
    <div>
        <button @onclick="SetMove" class="top-row-text text">Сделать ход</button>
        <button class="top-row-text text">Завершить партию</button>
    </div>
</section>
@code {
    //DisplayAlert???
    ChessGame chessGame = new(ConsignmentControler.nowConsignment.whitePlayer.PlayerID, ConsignmentControler.nowConsignment.blackPlayer.PlayerID);
    Figure figure;
    string move;
    string[] coloms = new string[] { "A", "B", "C", "D", "E", "F", "G", "H" };
    bool IsWhile = true;

    private void SetMove()
    {
        if (figure == null) return;
        if (move == null) return;
        chessGame.SetFigure(figure, move);
        IsWhile = !IsWhile;
    }
}
