.main-conteneer {
    background-color: #FFF9F9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.icon {
    background-color: brown;
    height: 10rem;
    width: 10rem;
    margin: 2rem;
}

.text-color-left {
    color: #FFFFFF;
}

.text-color-right {
    color: #A16B1E;
}

.left-conteneer-color {
    background-color: #F8B75C;
}

.left-conteneer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.color-first {
    background-color: #F8B75C;
}

.color-second {
    background-color: #FECD87;
}

.input-main {
    width: 50%;
}

@media (max-width: 1000px) {
    .input-main {
        width: 100%;
    }
}