.main-conteneer {
    padding: 5px;
    background-color: #FFF9F9;
}

.top-row-conteneer {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    border: none;
}

.pozition-conteneer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F8B75C;
    margin: 1rem;
    padding: 0.5rem;
}

    .element h4 {
        color: #FFF9F9;
    }

.icon {
    background-color: brown;
    height: 5rem;
    width: 5rem;
    margin: 2rem;
}