@page "/navMenu"
@using ChessTourBuilderApp.Data.HelpClasses
@layout MainLayout

<body class="main-conteneer">
    <div class="top-row-conteneer">
        <div class="image"></div>
        <a class="text big-text element" href="/profile">@(Helper.FI())</a>
    </div>
    <nav>
        <div class="nav-item element">
            <span class="nav-item-icon"></span>
            <a href="/eventList" class="text big-text">Турниры</a>
        </div>
        <div class="nav-item element">
            <span class="nav-item-icon"></span>
            <a href="/playerList" class="text big-text">Игроки</a>
        </div>
        <div class="nav-item element">
            <span class="nav-item-icon"></span>
            <a href="/" class="text big-text">Выйти</a>
        </div>
        @if (!StaticResouses.IsPlayer)
        {
            if (StaticResouses.mainControler.OrganizerControler.nowOrganizer.Administrator != -1)
            {
                <div class="nav-item element">
                    <span class="nav-item-icon"></span>
                    <a href="/setting" class="text big-text">Настройки</a>
                </div>
            }
        }
    </nav>
</body>

@code {
}