.main-conteneer {
    padding: 5px;
    background-color: #FFF9F9;
}

.image {
    border-radius: 50%;
    background-color: brown;
    height: 5rem;
    width: 5rem;
    margin: 2rem;
}

.top-row-conteneer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

.nav-item-icon {
    height: 2rem;
    width: 2rem;
    background-color: #A16B1E;
    margin: 1rem;
}

.element {
    border-radius: 8px;
    background: #F8B75C;
    margin: 1rem;
    padding: 0.5rem;
}