.main-conteneer {
    padding: 5px;
    background-color: #FFF9F9;
}

.icon {
    background-color: brown;
    height: 5rem;
    width: 5rem;
    margin: 2rem;
}

.top-row-conteneer {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.pozition-conteneer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.element {
    border-radius: 8px;
    background: #F8B75C;
    margin: 1rem;
    padding: 0.5rem;
    height: 50%;
}

.main-conteneer-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-main {
    width: 62%;
}

.add-element {
    display: flex;
    flex-wrap: wrap;
}