.main-conteneer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
