@using ChessTourBuilderApp.Data.DataBases
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="">
    <div class="">
        @Body
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        string flag = DataBase.GetFlag();
        if (Convert.ToInt32(flag) == 1)
        {
            if (!DataBase.ChangeConnection()) NavigationManager.NavigateTo("/setting");
            Data.HelpClasses.StaticResouses.dBQ = new ServerQ();
        }
        else 
        {
            if (!DataBase.ChangeConnectionLite()) NavigationManager.NavigateTo("/setting");
            DataBase.serverOrLite = false;
            Data.HelpClasses.StaticResouses.dBQ = new LiteQ();
        }
    }
}
