@using ChessTourBuilderApp.Data.DataBases
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="">
    <div class="">
        @Body
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        string flag = DataBase.GetFlag();
        if (flag == "1")
        {
            if (!DataBase.ChangeConnection()) NavigationManager.NavigateTo("/setting");
        }
        else 
        {
            if (!DataBase.ChangeConnectionLite()) NavigationManager.NavigateTo("/setting");
            DataBase.serverOrLite = false;
        }
    }
}
