@using ChessTourBuilderApp.Data.DataBases
@using ChessTourBuilderApp.Data.HelpClasses
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="">
    <div class="">
        @Body
    </div>
</div>

@code
{
    protected override async void OnInitialized()
    {
        string flag = await DataBase.GetFlag();
        if (Convert.ToInt32(flag) == 1)
        {
            if (!await DataBase.ChangeConnection()) NavigationManager.NavigateTo("/setting");
            StaticResouses.mainControler = new(true);
        }
        else 
        {
            if (!DataBase.ChangeConnectionLite()) NavigationManager.NavigateTo("/setting");
            StaticResouses.mainControler = new(false);
        }
    }
}
